/node_modules
/public/storage
/storage/*.key
/vendor
.env
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/.fleet
/.idea_modules
/*.bak  
/*.php.old
/mobile-ionic/node_modules
/mobile-ionic/dist
/mobile-ionic/.next
/node-portable
